doctype html
html(lang='en')
  head
    title Mithril Boilerplate
    base(href='/')
    meta(charset='utf-8')
    meta(name='version',content='0.1.0')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description',content='My first mithril application')
    link(rel='stylesheet',href='//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css')
  body
    app#myApp
    noscript
      | JavaScript is disabled in your browser.
      a(href='http://www.enable-javascript.com/',target='_blank') Here
      | is how to enable it.
    script(src='index.jsx',type='module')
